*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#0099ff, #b700ff);
}

.container {
  min-width: 600px;
  width: 100%;
  background: rgba(255, 255, 255, 0.438);
  padding: 25px 50px;
  border-radius: 5px;
}

.container form .user-details {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}

.user-details .input-box .details {
  cursor: pointer;
  display: block;
  font-weight: 800;
  margin-bottom: 5px;
}

.user-details .input-box input {
  cursor: pointer;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 3px;
  font-size: 16px;
  padding-left: 15px;
  transition: all 1s ease;
}

.user-details .input-box input:focus {
  border-color: #b700ff;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  cursor: pointer;
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #0099ff, #b700ff);
  transition: 0.5s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, #3391cf, #9e25ce);
  letter-spacing: 6px;
}

@media screen and (max-width: 587px) {
  .container {
    min-width: 300px;
  }
}

.shape-body {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%; 
  border-radius: 50%; 
  background: radial-gradient(rgb(0, 119, 255) 30%,rgb(183, 0, 255) 50%, rgb(181, 255, 181));
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.shape {
  width: 100%;
  height: 40vh;
}


